.about-us {
  &__content {
    margin: 0 auto;
    padding-block: 120px;

    @include on-tablets {
      padding-block: 148px;
    }

    @include on-desktops {
      max-width: 716px;
    }

    @include on-big-desktops {
      max-width: 754px;
    }
  }

  &__title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: $color-text;
    margin: 0;
    margin-bottom: 24px;

    @include on-tablets {
      margin-bottom: 16px;
    }
  }

  &__description {
    font-family: $font-main;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: $color-text-secondary;
    margin: 0 auto;
    padding: 0;

    @include on-tablets {
      font-size: 24px;
    }
  }
}
