.contacts {
  font-family: $font-main;
  font-weight: 600;
  line-height: 150%;
  color: $color-bg;

  @include on-tablets {
    max-width: 362px;
  }

  @include on-desktops {
    grid-column: 7 / -2;
  }

  &__title {
    font-size: 32px;
    margin: 0 0 48px;

    @include on-tablets {
      margin-bottom: 56px;
    }
  }

  &__item {
    margin-bottom: 40px;

    @include on-tablets {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    display: block;
    margin-bottom: 8px;
    opacity: 0.5;
  }

  &__text {
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
  }

  &__social {
    & svg path {
      fill: $color-bg;
      transition: fill 0.3s;
    }

    &:hover svg path {
      fill: $color-primary;
    }
  }
}
