.cta {
  background-color: $color-bg;

  &__container {
    margin-bottom: 120px;

    @include on-tablets {
      margin-bottom: 0;
      padding-block: 63px 168px;
    }

    @include on-desktops {
      padding-block: 83px 119px;
    }

    @include on-big-desktops {
      padding-block: 72px;
    }
  }

  &__image {
    @include on-tablets {
      background-image: url(../images/shapes-tablet.png);
      background-position: center top;
      background-repeat: no-repeat;
    }

    @include on-desktops {
      background-image: url(../images/shapes.png);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;

    @include on-tablets {
      padding-block: 137px 32px;
    }

    @include on-desktops {
      padding-block: 116px 79px;
      max-width: 754px;
    }

    @include on-big-desktops {
      padding-block: 127px 126px;
    }
  }

  &__title {
    margin: 0 0 24px;
    font-family: $font-accent;
    font-size: 44px;
    line-height: 120%;
    color: $color-text;

    @include on-tablets {
      font-size: 52px;
    }

    @include on-desktops {
      line-height: 150%;
    }
  }

  &__text {
    font-family: $font-main;

    font-size: 22px;
    line-height: 150%;
    color: $color-text-secondary;
    margin: 0 0 56px;

    @include on-tablets {
      font-size: 24px;
      margin-bottom: 64px;
    }
  }

  &__card {
    @include card-shadow;
    @include radius-main;
    
    background: $color-bg;
    color: $color-text;
    font-family: $font-main;
  }
}
