.nav {
  display: none;

  @include on-desktops {
    display: block;
  }

  &__list {
    @include on-desktops {
      display: flex;
      gap: 20px;
    }
  }

  &__link {
    @include hover-underline;
  }
}
