@import './utils/vars';
@import './utils/mixins';
@import './utils/extends';

.container {
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;

  padding-inline: 20px;
  margin-inline: auto;

  @include on-tablets {
    padding-inline: 40px;
  }

  @include on-desktops {
    padding-inline: 54px;
    max-width: 1146px;
  }
}
