$color-primary: #2060f6;
$color-text: #253757;
$color-bg: #fff;
$color-accent: #c0cdd7;
$color-text-secondary: #6c788b;
$radius-main: 30px;
$radius-card: 16px;
$shadow-main: 0 4px 20px rgba(0, 0, 0, 0.1);
$font-main: OpenSans, sans-serif;
$font-accent: Poppins, sans-serif;
